{% extends "base.html" %}

{% block content %}
<div class="container">
<div class="row">
    <div class="col-xs-12">
        <h1>Terms &amp; conditions</h1>
        <p>
        When you visit the WishiWashi website you are subject to our website terms &amp; conditions. We recommend you read these prior to undertaking any activity on the site such as submitting personal data and or making an online transaction within the site.
        </p>
        <p>
        In addition, we also include clear statements with regards to the following:
        </p>

        <h3>OWNERSHIP</h3>
        <ul class="list-unstyled">
            <li>
            1.1 This website is wholly owned and operated by:
            <br>
            <address>
            Wishi Washi Ltd<br>
            Units 5/6 School Road<br>
            Park Royal<br>
            London, NW10 6TD<br>
            United Kingdom<br>
            </address>
            </li>
            <li>
            1.2 All website content is owned exclusively by Wishi Washi Ltd and any reproducing, transmitting, publishing, and distribution without express permission from Wishi Washi Ltd is not permitted.
            </li>
        </ul>

        <h3>ONLINE TRANSACTIONS</h3>
        <ul class="list-unstyled">
            <li>
            2.1 Any transactions made through our website are subject to our acceptance.
            </li>
            <li>
            2.2 When signing up for our service and placing an order, you will receive a confirmation e-mail (keep this safe). We will approve your debit/credit card or direct debit payment in real time and then your card will be debited for the amount clarified on the day of collection. Please ensure that you check the details of your order before submitting it as we will not be liable for any errors you make. For example, please check carefully that you correctly identify each item. If you think that you may have made a mistake, please contact our customer service {{UK_PHONE_NUMBER}}. In the event we notice a discrepancy when items are received, we will confirm any changes to your order by email, text or telephone. This may include changes to the value of your order where applicable.
            </li>
            <li>
            2.3 Submission of an order does not create a contract between us. The contract arises when we send you an email confirming acceptance of your order. The email will include your billing information.
            </li>
            <li>
            2.4 We will assign an order number to each order and inform you of it when we have agreed to collect and deliver. Please quote the order number in all subsequent contact with us.
            </li>
            <li>
            2.5 If for any reason we are unable fulfil your order, we will let you know by email, text or telephone.
            </li>
        </ul>

        <h3>CANCELLATION OF ORDERS</h3>
        <ul class="list-unstyled">
            <li>
            3.1 You have the following limited rights to cancel an order.
            </li>
            <li>
            3.2 You may cancel your order in the following circumstances:
            At any time up to two hours before the collection time set out in our email acceptance of your order via the website; or at any time before the collection time set out in our email acceptance of your order by telephoning our customer care helpline {{UK_PHONE_NUMBER}}.
            </li>
            <li>
            3.3 After we have collected your item(s) if you or we are affected by an event outside our control, a cancellation may be actioned by telephoning our customer care helpline {{UK_PHONE_NUMBER}}.
            </li>
            <li>
            3.4 You acknowledge that (subject to paragraph 3.3) once an item has been collected from you we have begun to provide the services to you and that any rights of cancellation you may have under the Consumer Contracts Regulations or any equivalent law or regulations may be lost.
            </li>
            <li>
            3.5 We may cancel your order and the contract between you and us in the following circumstances:
            As a result of an event outside our control; or if you fail to make items available for collection; or
             if we consider that any item does not correspond with the order, is damaged, has no information about its content or cleaning instructions, or does not fall within those items which we accept (please refer to code of practice).
            </li>
            <li>
            3.6 If we cancel your order we will contact you by phone, email or text.
            </li>
            <li>
            3.7 Where we have already started work on your order, we will not charge you anything and you will not have to make any payment to us; if it is concluded we should not proceed. 
            </li>
            <li>
            3.8 We will arrange to redeliver the item(s) to you at the original redelivery time or as soon as reasonably possible.
            </li>
        </ul>

        <h3>COLLECTION AND DELIVERY</h3>
        <ul class="list-unstyled">
            <li>
            4.1 We will use reasonable endeavours to collect and deliver items at the times specified in the order but we cannot guarantee to do so. We will use reasonable endeavours to communicate any delay to you by phone, email or text. We cannot accept financial liability for deliveries made outside the booked time slots and  cannot accept liability for out of pocket expenses or other costs incurred due to failed or delayed collection or delivery of the order.
            </li>
            <li>
            4.2 If you are not available to accept delivery of items, we will contact you by phone or email to arrange redelivery at your convenience. Items will be returned to the processing facility.
            </li>
            <li>
            4.3 We are not obliged to attempt redelivery more than once. If you are not available to accept redelivery a second time, items will be returned to our service provider facility and you will be notified accordingly by phone, email or text. Subsequent redelivery will be subject to your expense.
            </li>
            <li>
            4.4 If you have failed to accept or arrange redelivery of an item for more than 90 days after the redelivery date specified in the order we may dispose of the items or donate it to an approved charity
            </li>
            <li>
            5.4 All orders for collections and delivery must be acknowledged by a signature.
            </li>
            <li>
            5.5 You may arrange to have items collected from, or delivered via, a third party, on condition that you do so at your own risk and the third party is prepared to sign an acknowledgement on your behalf.
            </li>
        </ul>

        <h3>PRIVACY POLICY</h3>
        <ul class="list-unstyled">
            <li>
            6.1 Please make sure that you have read and understood our <a href="{% url 'privacy' %}">privacy policy</a> which explains how we protect any data which you provide to us in order for us to manage your account registration online.
            </li>
        </ul>

        <h3>COPYRIGHT/ INTELLECTUAL PROPERTY</h3>
        <ul class="list-unstyled">
            <li>
            7.1 By using the site you acknowledge and agree that all copyright, trademarks and all other intellectual property rights in all materials and/or content made available as part of your use of this website shall remain with Wishi Washi Ltd.
            </li>
            <li>
            7.2 You acknowledge and agree that the material and content contained within this website is made available for your personal non-commercial use only and that you may only download content  for the purpose of using this website.
            </li>
        </ul>

        <h3>GENERAL</h3>
        <ul class="list-unstyled">
            <li>
            8.1 Use of the site is subject to English Law.
            </li>
            <li>
            8.2 Liability for any claim for loss or damage shall be limited to the sum paid by you for the services provided.
            </li>
            <li>
            8.3 We may assign or transfer any of our rights or sub contract any of our obligations under these terms and conditions to any third party. These include data processing, marketing activity such as SMS/E-mail broadcast and direct mail distribution.
            </li>
            <li>
            8.4 Wishi Washi Ltd without notice reserves the right to amends these terms and conditions from time to time and any such changes will be communicated on our website.
            </li>
            <li>
            8.5 From time to time there may be links to carefully selected third party websites which we believe may be of interest to you. However, we have no control over the content of these websites nor can we be liable in respect of anything contained on these websites.
            </li>
        </ul>

        <h3>CODE OF PRACTICE</h3>
        <p>
        WISHI WASHI LTD ENDEVOUR TO ENSURE ALL ITEMS IN OUR CARE ARE TREATED WITH EXPERT CARE AND ATTENTION TO ACHIEVE THE BEST POSSIBLE RESULTS.
        </p>

        <ul class="list-unstyled">
            <li>
            9.1 In the rare event of loss or damage to an item, Wishi Washi Ltd pay compensation in line with the fair compensation guidelines as provided by the Textile Services Association.
            </li>
            <li>
            9.2 The Textile Services Association guidelines indicate that fair and reasonable compensation be paid on the basis of allowing for wear and tear and the age of the item. Proof of purchase or the retailer written confirmation of value will be. 
            </li>
            <li>
            9.3 We undertake not to restrict our liability under the general law and shall so far as is reasonably practicable.
            </li>
            <li>
            9.4 We will handle all clothes, linens, furnishings and other items accepted by us for processing with proper and due care and attention.
            </li>
            <li>
            9.5 We will investigate any complaint promptly and , if requested, reprocess, free of charge, any article which is unsatisfactory due to fault on our part.
            </li>
            <li>
            9.6 We will pay fair compensation for loss or damage due to negligence on our part.
            </li>
            <li>
            9.7 Train our staff and processing members to be competent, courteous and helpful at all times.
            </li>
            <li>
            9.8 Keep our vans, containers and premises clean and tidy.
            </li>
            <li>
            9.9 Maintain the highest possible standard of quality and service consistent with the price charged.
            </li>
            <li>
            9.10 Display a current price list on our website
            </li>
            <li>
            9.11 Have all orders ready or delivered at the time stated, unless prevented by exceptional circumstances.
            </li>
            <li>
            9.12 In the event of a dispute which requires arbitration, abide by an independent report carried out by a competent, mutually recognised test house on a 'loser pays' basis.
            </li>
        </ul>
    </div>
</div>
</div>
{% endblock %}
