{% extends "emails/base.html" %}
{% load email_fonts %}

{% block main_content %}
    Hello {{ first_name }} {{ last_name }},
    <br />
    <br />
    You're receiving this email because you requested a password reset for 
    your user account at  {{ site_name }}.
    </p>
    <p>
    <center>
        <a href="{{ protocol }}://{{ domain }}{% url 'registration:reset_confirm' uidb64=uid token=token %}" style="margin: 0; padding: 10px 20px; font-family: {{''|email_fonts}}; font-size: 15px; color: #fff; text-decoration: none; background-color: #ff711e; border: 1px solid #ff711e; line-height: 2; font-weight: bold; text-align: center; display: inline-block; border-radius: 30px; margin-bottom: 5px" target="_blank">Reset password</a>
    </center>
    </p>
    <p>
        Wishi Washi
    </p>
{% endblock %}
