{% extends "base.html" %}
{% load staticfiles %}

{% block content %}
<div class="container">
    <div class="row">
    <div class="col-xs-12">
        <h1>About us</h1>
        <p>
        Hello, we're Wishi Washi
        </p>
        <img class="img-responsive pull-right" src="{% static "images/20-years.png" %}" width="126" height="109" alt="20 years experience">
        <p>
        Fabric cleaning and care has been at the heart of our business for over twenty years.
        <p>
        <p>
        If we don't achieve great results, and have great, loyal customers, 
        we're nothing so we take it pretty seriously.
        </p>
        <p>
        Wishi Washi is the combination of dry cleaning and laundry experience, technical expertise, 
        understanding clients needs, and ultimate customer service. Stephen knows this well, with a 
        history of owning dry cleaning stores in London,  including partnerships with Harrods and in 
        association with some of the most well known designer brands and fashion houses.....we really 
        know our stuff.
        </p>
        <p>
        The next step was to provide an online collection and delivery service to make the chore of 
        laundry and dry cleaning easier. Now, that's smart living. The good news is that our service is 
        available via your smart phone, tablet, laptop and desktop. Our aim is to provide the best online 
        collection and delivery to London and beyond. This is why we have partnered with the very best 
        dry cleaning operators to guarantee the finest service to your door.
        </p>

        <p>
        We are committed to being the very best, and constantly push the barriers to provide a better 
        customer experience. 
        </p>

        <h2>Sustainability</h2>
        <p>
        Not only do we want our cleaning service to be of the highest quality, we also want to make sure 
        we work with partners who look after both their workers and the environment. Our experience in 
        dry cleaning goes a long way to ensure you get the best service and your clothes are cleaned in 
        the most environmentally friendlier environments possible. That's a challenge, as we are using 
        chemicals, but we love challenges and are at the forefront of working in developing Eco friendlier 
        products and  ensuring our partners meet our standards.
        </p>
    </div>
    </div>
</div>
{% endblock %}
